.img-responsive {
  max-width: 100%;
  margin:0 auto;
  width:100%;
}

#coffee {
  color: rgba(0,0,0,0.65);
}

#about,#portfolios {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.intro {
  line-height: 1.5;
  margin:0 auto;
  vertical-align: center;
  color:black;
  margin-right:30px;
  margin-left: 20px;
  text-align: center;
  margin-top: 20px;
}

.profile {
  text-align: center;
  width:80%;
  margin-left: 30px;
}
